body { 
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial; 
}
.game-area {
     display:flex;
     justify-content:center; 
     align-items:center; 
    }
canvas { 
    background: #000;
    display:block;
    margin: auto;
    image-rendering: pixelated;
 }
#highscores li {
    background: transparent;
    border: 0;
    color: #000000;
     }
